/* -- EXPERIMENTS PAGE -- */

.expDescription {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    line-height: 2;
    margin-left: 10%;
    margin-right: 10%;
}

.expBody {
    /* border: 1px solid red; */
    margin-left: 20%;
    margin-right: 20%;
}

.expIndex {
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
}

.expIndexHeader {
    height: 60px;
    border: 1px solid;
    background-color: rgb(220, 239, 255);
}

#expIndexHeaderNumber {
    width: 30px;
}

#expIndexHeaderFormat {
    width: 80px;
}

#expIndexHeaderDate {
    width: 140px;
}

.expIndexDataCenter {
    height: 30px;
    border: 1px solid;
    text-align: center;
}

.expIndexDataTitle {
    height: 30px;
    border: 1px solid;
    padding: 15px;
}